@use '../abstracts' as *;

#devops-standards {
    padding: 96px 32px;

    @include respond-to('tablet') {
        padding: 72px 32px;
    }

    @include respond-to('tablet-portrait') {
        padding: 72px 32px 40px;
    }
    
    .container--small {
        margin-bottom: 100px;

        h2 {
            padding: 0 10px;
        }

        p {
            margin-bottom: 50px;
        }

        @include respond-to('tablet-portrait') {
            margin-bottom: 0;
        }

    }

    .carousel-slides {
        margin-top: 90px;

        @include respond-to('tablet-portrait') {
            margin-top: 35px;
        }
    
        /* Slides */
        .slick-slide {
            padding: 20px 10px;

            @include respond-to('tablet-portrait') {
                padding: 20px;
            }

            @include respond-to('phone') {
                padding: 10px;
            }
    
            &_inner {
                background-color: $clr-white;
                height: 372px;
                padding: 75px 32px 48px;
                border-radius: 32px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                @include respond-to('tablet-portrait') {
                    padding: 61px 32px 48px;
                }
    
                figure {
                    max-width: 252px;
                    width: 100%;
                    display: flex;
                    place-items: center;
                    justify-content: center;
    
                    img {
                        width: 252px;

                        @include respond-to('tablet-portrait') {
                            width: 209px;
                        }

                        &.landg {
                            width: 136px;
                        }
                    }
                }       
            
                h3 {
                    margin-bottom: 13px;
                }
            }
    
        }
    
        /* Slider Buttons */
    
        .slick-prev, .slick-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 99;
        }
    
        .slick-prev {
            left: -40px;
            
            @include respond-to('lg-desktop') {
                left: -20px;
            }
            @include respond-to('tablet-portrait') {
                left: -3px;
            }
            @include respond-to('phone') {
                left: -13px;
            }

        }
    
        .slick-next {
            right: -40px;
            
            @include respond-to('lg-desktop') {
                right: -20px;
            }
            @include respond-to('tablet-portrait') {
                right: -3px;
            }
            @include respond-to('phone') {
                right: -13px;
            }
            
        }

        .slick-prev,
        .slick-next {
            img {
                @include respond-to('lg-desktop') {
                    width: 12px;
                }
            }
        }
    
    }

}