@use '../abstracts' as *;

header {
  padding: 24px 32px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all .7s cubic-bezier(0.22, 1, 0.36, 1);

  @include respond-to('phone') {
    padding: 15px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;

    @include respond-to('phone') {
      img {
        max-width: 130px;
      }
      .btn {
        font-size: 13px;
        padding: 10px 27px;
      }
    }


  }

  &.scrolled {
      background-color: $clr-white;
      box-shadow: 0 2px 6px 0 rgba(22, 29, 91, .15),
      0 8px 24px 0 rgba(22, 29, 91, .10);
      
      &.scrolled .btn {
          background-color: $clr-turquoise;
          color: $clr-navy;
  
          &:hover {
              background-color: $clr-turquoise-dark;
          }
      }
  }

}