@use '../abstracts' as *;

#hero {
  background: linear-gradient(90deg, #9AFFE5, #1092DF);
  display: flex;
  place-items: center;
  position: relative;
  z-index: 30;

  .hero-content {
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0) 55%, $clr-white);
    padding: 194px 32px 320px;
    
    @include respond-to('desktop') {
      padding: 150px 32px 220px;      
    }

    @include respond-to('tablet') {
     padding: 136px 32px 129px 
    }

    @include respond-to('tablet-portrait') {
      background: linear-gradient(rgba(255,255,255,0) 65%, $clr-white);
    }

    @include respond-to('phone') {
      padding-inline: 20px;
    }

    &_inner {
      display: flex;

      @include respond-to('tablet') {
        flex-direction: column-reverse;
      }

      // Hero Text
      .hero-inner_left {
        h1 {
          margin-bottom: 50px;

          @include respond-to('desktop') {
            font-size: 55px;
            margin-bottom: 40px;
          }
          
          @include respond-to('tablet') {
            font-size: 48px;
            line-height: 1.2;
          }

          @include respond-to('phone') {
            font-size: 48px;
            line-height: 1.1;
          }
        }
        
        p {
          font-size: 24px;
          line-height: 2;
          max-width: 500px;
          margin-bottom: 60px;

          @include respond-to('desktop') {
            font-size: 24px;
            line-height: 1.7;
            margin-bottom: 50px;
          }

          @include respond-to('tablet') {
            max-width: 100%;
          }
        } 

        @include respond-to('tablet') {
          text-align: center;
        }
      }

      // Hero Image
      .hero-inner_right {
        display: flex;
        align-items: flex-end;
        padding-bottom: 20px;
        padding-left: 20px;

        figure {
          img {
            transition: transform .2s linear;
            @include respond-to('desktop') {
              max-width: 500px;
            }

            @include respond-to('tablet-portrait') {
              max-width: 100%;
            }
          }
        }

        @include respond-to('tablet') {
          justify-content: center;
          padding: 0 0 40px;
        }
      }

    }
  }

}